
@{
    ViewBag.Title = "fillCmb";
    Layout = "~/Views/_LayoutPage3.cshtml";
}

<h2>Regga match</h2>
@Html.DropDownList("listofteams", ViewBag.listofteams as SelectList, "Pick the home team!")
@Html.DropDownList("listofteams2", ViewBag.ListOfTeams2 as SelectList, "Pick the away team!")

