<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/ffont-awesome.css" rel="stylesheet" />
    <link href="~/styles/sstyle.css" rel=" stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
